/***
    Param: num , base
    ex.
    @include font-line(1,8.33) : max-width = 8.333
*/
@mixin col-gen($i, $base) {
    $percentage: $i * $base;
    flex: 0 0 decimal-round($percentage, 4) *1%;
    max-width: decimal-round($percentage, 4) *1%;
}
