@font-face {
    font-family: "myfont";
    src: url('../../iconfont/myfont.eot');
    src: url('../../iconfont/myfont.eot?#iefix') format('eot'),
      url('../../iconfont/myfont.woff2') format('woff2'),
      url('../../iconfont/myfont.woff') format('woff'),
      url('../../iconfont/myfont.ttf') format('truetype'),
      url('../../iconfont/myfont.svg#myfont') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  .s:before {
    display: inline-block;
    font-family: "myfont";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .s-lg {
    font-size: 1.3333333333333333em;
    line-height: 0.75em;
    vertical-align: -15%;
  }
  .s-2x { font-size: 2em; }
  .s-3x { font-size: 3em; }
  .s-4x { font-size: 4em; }
  .s-5x { font-size: 5em; }
  .s-fw {
    width: 1.2857142857142858em;
    text-align: center;
  }

  .s-icon_error:before { content: "\EA01" }
  .s-icon_success:before { content: "\EA02" }
  