@import "../core/mixins/*";
@import "../core/root/_variables";
.sect_1 {
  padding-bottom: 160px;
  @include is-responsive {
    padding: 50px 0 80px;
  }
  &__heading {
    @include font-line(24, 41);
    letter-spacing: 0.1em;
    font-weight: 700;
    text-align: center;
    padding-bottom: 65px;
    @include is-responsive {
      @include font-line(20, 33);
      letter-spacing: 0.12em;
    }
    span {
      color: $color-accent;
    }
  }
  &__content--features {
    display: flex;
    max-width: 725px;
    justify-content: space-between;
    margin: 63px auto 0;
    position: relative;
    &::before {
      content: "";
      width: 90%;
      height: 10px;
      background-color: $color-accent;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      z-index: -1;
    }
    p {
      @include font-line(14, 18);
      letter-spacing: 0.1em;
      font-weight: 700;
      color: #fff;
      width: 81px;
      height: 83px;
      background-color: $color-accent;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      text-align: center;
    }
  }
  &-img01 {
    max-width: 616px;
    margin: 0 auto;
    display: inherit;
    @include is-responsive {
      max-width: 325px;
    }
    @include is-max(375px) {
      max-width: 100%;
    }
  }
  &-img02 {
    max-width: 320px;
    margin: 48px auto 0;
    display: inherit;
    @include is-max(375px) {
      max-width: 100%;
    }
  }
}
.sect_2 {
  padding: 80px 0 0;
  @include is-responsive {
    padding: 56px 0 0;
  }
  background-color: $color-sub;
  .exclamation {
    margin-bottom: 32px;
  }
  &__heading {
    text-align: center;
    margin-bottom: 81px;
    @include is-responsive {
      margin-bottom: 54px;
    }
  }
  .p-row03 {
    & a:first-child {
      img {
        width: 182.32px;
      }
    }
    & a:nth-child(2) {
      img {
        width: 187.21px;
      }
    }
    & a:nth-child(3) {
      img {
        width: 197.33px;
      }
    }
  }
}
.sect_3 {
  padding: 181px 0 231px;
  background-color: $color-sub;
  @include is-responsive {
    padding: 92px 0 80px;
  }
  &--content {
    padding: 100px 0 0;
    margin: -100px 0 120px;
    @include is-responsive {
      margin: -80px 0 80px;
      padding: 80px 0 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.sect_4 {
  &__slider {
    margin-top: 84px;
    margin-left: -34px;
    li {
      background: #fff;
      padding: 8px;
      img {
        width: 100%;
      }
      p {
        font-family: roboto;
        letter-spacing: 0.05em;
        text-align: left;
      }
      p:nth-child(2) {
        @include font-line(14, 21);
        font-weight: 700;
        padding: 11px 0 7px;
      }
      p:last-child {
        @include font-line(12, 24);
        font-weight: 500;
        color: #707070;
        text-align: left;
      }
    }
    .slick-slide {
      margin: 0 8px !important;
      @include is-laptop {
        width: 160px !important;
      }
    }
  }
}
.sect_7 {
  background-color: #f7f7f7;
  padding: 135px 0 120px;
  @include is-responsive {
    padding: 121px 0 80px;
  }
  .news__row {
    display: flex;
    justify-content: space-between;
    @include is-responsive {
      flex-direction: column;
    }
  }
  .news__col {
    &:first-child {
      a {
        margin-top: 53px;
      }
    }
    &:last-child {
      width: 550px;
      @include is-responsive {
        width: 100%;
        padding-top: 54px;
      }
    }
  }
  .news__listItem {
    padding: 25px 30px 25px 0;
    border-top: 1px solid #d0d0d0;
    @include is-responsive {
      padding-right: 0;
    }
    &:last-child {
      border-bottom: 1px solid #d0d0d0;
    }
    a {
      @include font-line(14, 14);
      font-family: $font-family-en;
      font-weight: 600;
      letter-spacing: 0.1em;
    }
    .heading {
      margin-bottom: 10px;
      & a:first-child {
        display: inline-block;
        padding-right: 15px;
        position: relative;
        color: #8d8d8d;
        &::after {
          content: "";
          width: 1px;
          height: 12px;
          background-color: #d0d0d0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -1px;
        }
      }
      & a:last-child {
        display: inline-block;
        padding-left: 15px;
        @include font-line(13, 13);
        font-family: $font-family-base;
        font-weight: 500;
        color: #8d8d8d;
      }
    }
    .body {
      @include font-line(14, 25);
      font-weight: 500;
      font-family: $font-family-base;
      color: #352a2a;
      &:hover {
        color: $color-accent;
      }
    }
  }
}
.faq {
  padding: 185px 0 119px;
  max-width: 900px;
  margin: 0 auto;
  @include is-responsive {
    padding: 121px 0 76px;
  }
}
.get__started {
  background: transparent linear-gradient(254deg, #fff9fa 0%, #eaeaea 100%) 0%
    0% no-repeat padding-box;
  padding: 82px 0 96px;
  @include is-responsive {
    padding: 80px 0;
  }
  &_heading {
    text-align: center;
    margin-bottom: 56px;
    @include font-line(29, 43);
    color: #352a2a;
    font-weight: 700;
    letter-spacing: 0.1em;
    @include is-responsive {
      @include font-line(24, 35);
    }
    span {
      font-family: $font-family-en;
      font-weight: 600;
    }
  }
  &_buttons {
    display: flex;
    max-width: 664px;
    margin: 0 auto;
    justify-content: space-between;
    @include is-responsive {
      max-width: 100%;
      flex-direction: column;
    }
    a {
      border-radius: 90px !important;
      width: 320px;
      @include font-line(18, 18);
      @include is-responsive {
        width: 100%;
        &:first-child {
          margin-bottom: 32px;
        }
      }
      img {
        margin-right: 8px;
      }
    }
  }
}
