.c-button {
  $main: &;
  width: 100%;
  border: 1.5px solid transparent;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-weight: 700;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transform: rotate(45deg);
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    right: 18px;
  }
  // extra
  &--nobullet {
    &:before,
    &:after {
      display: none;
    }
  }
  &--return {
    &:after {
      content: unset;
      border: unset;
      right: unset;
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff;
      left: 18px;
    }
  }
  &--disable {
    pointer-events: none !important;
    opacity: 0.5;
  }
  &--roundCorner {
    border-radius: 150px;
  }
  &--smoothCorner {
    border-radius: 6px;
  }
  // size
  &--xxl {
    @include is-laptop {
      height: 90;
      @include font-line(23, 23);
    }
  }
  &--xl {
    @include is-responsive {
      height: 80px;
      @include font-line(16, 16);
    }
    @include is-laptop {
      height: 80px;
      @include font-line(16, 16);
    }
  }
  &--l {
    height: 56px;
    width: 240px;
    @include font-line(15, 15);
    border-radius: 39px !important;
    letter-spacing: .1em;
    font-weight: 500;
  }
  &--m {
    @include is-responsive {
      height: 45px;
      @include font-line(14, 14);
    }
    @include is-laptop {
      height: 40px;
      width: 200px;
      @include font-line(14, 14);
    }
  }
  &--s {
    height: 40px;
    width: 160px;
    @include font-line(14, 14);
    border-radius: 20px;
    background-color: #4e3e3e;
    box-shadow: 0px 3px 6px #00000029;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.4px;
    justify-content: flex-start;
    padding-left: 30.69px;
    &::after {
      height: 10px;
      width: 10px;
      right: 30px;
    }
    &:hover {
      background-color: #fff;
      border: 1px solid #4e3e3e;
      color: #352a2a;
      &::after {
        border-color: #352a2a;
      }
    }
  }
  //color
  &--main {
    background-color: #fff;
    border-color: #fff;
    color: #352a2a;
    border-radius: 40px;
    box-shadow: 0px 0px 11px #00000029;
    &:not(#{$main}--nohover):hover {
      background-color: #fff;
      border-color: $color-main;
      color: $color-main;
      &:after {
        border-color: $color-main !important;
      }
    }
    &--w {
      background-color: #fff;
      border-color: $color-main;
      color: $color-main;
      &:after {
        border-color: $color-main;
      }
      &:not(#{$main}--nohover):hover {
        background-color: $color-main;
        border-color: $color-main;
        color: #fff;
        &:after {
          border-color: #fff !important;
        }
      }
    }
  }
  &--sub {
    background-color: $color-sub;
    border-color: $color-sub;
    color: #fff;
    &:not(#{$main}--nohover):hover {
      background-color: #fff;
      border-color: $color-sub;
      color: $color-sub;
      &:after {
        border-color: $color-sub !important;
      }
    }
    &:after {
      border-color: #fff !important;
    }
    &--w {
      background-color: #fff;
      border-color: $color-sub;
      color: $color-sub;
      &:after {
        border-color: $color-sub;
      }
      &:not(#{$main}--nohover):hover {
        background-color: $color-sub;
        border-color: $color-sub;
        color: #fff;
        &:after {
          border-color: #fff !important;
        }
      }
    }
  }
  &--accent {
    background-color: $color-accent;
    border-color: $color-accent;
    color: #fff;
    border-radius: 24px;
    letter-spacing: .1em;
    &:not(#{$main}--nohover):hover {
      opacity: 0.6;
    }
    &--w {
      background-color: #fff;
      border-color: $color-accent;
      color: #352a2a;
      border-radius: 24px;
      border-width: 2px;
      &:after {
        border-color: $color-accent;
      }
      &:not(#{$main}--nohover):hover {
        opacity: 0.6;
      }
    }
  }
}
