#loading {
  width: 100%;
  height: 100%;
  transition: all 1s;
  background: transparent linear-gradient(238deg, #fff9fa 0%, #dddddd 100%) 0%
    0% no-repeat padding-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loaded {
  opacity: 0;
  visibility: hidden;
}
