.c-seal04 {
  display: inline-flex;
  background: #333;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 3px 5px 4px 4px;
  @include font-line(9, 9);
  border-radius: 2px;
  font-weight: bold;
  &--required {
    background: $color-required;
  }
  &--optional {
    background: $color-optional;
  }
  &--any{
      background: $color-any;
  }
}