.l-header {
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 99;
  transition: 0.1s ease;
  @include is-max(1010px) {
    background-color: #ffffff;
    box-shadow: 0px 3px 4px #00000015;
  }
  $main: &;
  &__navbar {
    min-height: 64px;
    @include is-max(1010px) {
      min-height: 56px;
    }
  }
  &__row {
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 0 40px;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    @include is-max(1010px) {
      padding: 0 25px;
    }
    & #{$main}__col:first-child,
    & #{$main}__col:last-child,
    .l-header__buttons {
      display: flex;
      align-items: center;
    }
  }
  &__branding {
    margin-right: 56.5px;
    @include is-max(1170px) {
      margin-right: 24.5px;
    }
    @include is-max(1010px) {
      width: 118.88px;
    }
  }
  &__menu {
    display: flex;
    &-item {
      @include font-line(14, 14);
      letter-spacing: 0.05em;
      font-weight: 600;
      font-family: $font-family-en;
      margin-right: 32px;
      @include is-max(1170px) {
        margin-right: 18px;
      }
      @include is-max(1010px) {
        display: none;
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #352a2a;
      }
    }
  }
  &__buttons {
    position: absolute;
    right: 40px;
    @include is-max(1170px) {
      a {
        width: 160px !important;
      }
    }
    @include is-max(1010px) {
      display: none !important;
    }
    & a:first-child {
      margin-right: 16px;
    }
  }
  &__hamburgerMenu {
    display: none;
    @include is-max(1010px) {
      display: block;
      width: 24px;
      height: 18px;
      position: absolute;
      right: 25px;
      cursor: pointer;
      li {
        width: 100%;
        height: 2px;
        background-color: $color-accent;
        position: absolute;
        transition: 0.3s;
        &:first-child {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
        }
        &:nth-child(3) {
          top: 50%;
          transform: translateY(-50%);
          opacity: 0;
        }
        &:last-child {
          bottom: 0;
        }
      }
      &.isActive {
        li {
          &:first-child,
          &:last-child {
            opacity: 0;
          }
          &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
            opacity: 1;
          }
          &:nth-child(3) {
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            opacity: 1;
          }
        }
      }
    }
  }
  .spMenuItem {
    position: fixed;
    z-index: 99;
    top: 56px;
    width: 100%;
    height: 100vh;
    background: #d84533;
    padding: 51px 25px 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    &.show {
      opacity: 1;
      visibility: visible;
    }
    ul {
      li {
        margin-top: 32px;
        font-family: $font-family-en;
        @include font-line(16, 16);
        font-weight: 600;
        letter-spacing: 0.05em;
        &:first-child {
          margin-top: 0;
        }
        a {
          color: #fff;
        }
      }
    }
    &__buttons {
      margin-top: 64px;
      & a:first-child {
        margin-bottom: 23px;
        img {
          width: 19.86px;
        }
      }
      & a:last-child {
        color: $color-accent;
      }
      a {
        img {
          margin-right: 8px;
        }
      }
    }
  }

  &.scrolling, &.scrolling-reached-bottom {
    background-color: #ffffff;
    box-shadow: 0px 3px 11px #0000000d;
  }
}
