.l-row {
  display: flex;
  &--nomargin {
    @include is-laptop {
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }
  &--wrap {
    flex-wrap: wrap;
  }
  &--column {
    flex-flow: column;
  }
}
