.p-content {
  &01 {
    color: #352a2a;
    font-weight: 700;
    $main: &;
    &__ttl {
      @include font-line(18, 18);
      letter-spacing: 1.8px;
      span {
        color: #ea422d;
      }
    }
    &__sub {
      @include font-line(21, 21);
      letter-spacing: 1.05px;
      margin: 13px 0 32px;
      span {
        font-family: $font-family-en;
        font-weight: 600;
      }
    }
    &__row {
      border: 1px solid #ea422d;
      padding: 20px 50px 20px 54px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 120px;
      @include is-responsive {
        flex-direction: column;
        padding: 40px 26px 0 20px;
        margin-bottom: 80px;
      }
      &:last-child {
        margin-bottom: 0;
        @include is-responsive {
          margin-bottom: 0;
        }
      }
      &:first-child {
        img {
          width: 182.32px;
        }
      }
      &:nth-child(2) {
        img {
          width: 187.21px;
        }
      }
      &:nth-child(3) {
        img {
          width: 197.33px;
        }
      }
    }
    &__col {
      img {
        height: 140px;
        width: 182.32px;
      }
      &:first-child {
        text-align: center;
        width: calc(100% - 610px);
        @include is-responsive {
          width: 100%;
        }
      }
      &:last-child {
        text-align: left;
        width: 610px;
        border-left: 1px solid #d0d0d0;
        padding: 0 0 40px;
        @include is-responsive {
          border-left: 0;
          border-top: 1px solid #d0d0d0;
          margin-top: 40px;
          width: 100%;
        }
        #{$main}__cont {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #d0d0d0;
          padding: 40px 0;
          @include is-responsive {
            flex-direction: column;
          }
          &:first-child {
            padding-top: 25px;
          }
          &:last-child {
            border-bottom: none;
            padding: 40px 0 0;
          }
          p {
            @include font-line(15, 27);
            letter-spacing: 1.5px;
            font-weight: 500;
            max-width: 361px;
            padding-left: 30px;
            @include is-responsive {
              padding-left: 0;
              max-width: 100%;
              padding-bottom: 24px;
            }
            span {
              color: #ea422d;
            }
          }
        }
      }
    }
  }
  &02 {
    &__row {
      display: flex;
      justify-content: space-between;
      max-width: 1280px;
      margin: 0 auto;
      position: relative;
      justify-content: flex-end;
      @include is-responsive {
        flex-direction: column;
      }
    }
    &__col {
      &:first-child {
        width: 685px;
        height: 520px;
        background: $color-accent;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: -101px;
        position: absolute;
        left: 0;
        z-index: 3;
        @include is-max(1100px) {
          width: 589px;
        }
        @include is-responsive {
          position: static;
          width: 100%;
          padding: 0 16px;
          height: 359px;
          a {
            @include is-max(500px) {
              width: 100%;
              margin-top: 41px;
            }
          }
        }
        .heading {
          @include font-line(35, 64);
          letter-spacing: 0.1em;
          font-weight: 700;
          color: #fff;
          @include is-responsive {
            @include font-line(24, 43);
          }
          span {
            font-family: $font-family-en;
            font-weight: 600;
          }
        }
      }
      &:last-child {
        width: 640px;
        background: #e8e8e8;
        height: 510px;
        text-align: center;
        overflow: hidden;
        @include is-max(1100px) {
          width: 582px;
        }
        @include is-responsive {
          width: 100%;
          height: auto;
          padding-bottom: 84px;
        }
        .heading {
          display: inline-block;
          padding-top: 92px;
          @include font-line(20, 20);
          font-weight: 700;
          letter-spacing: 0.15em;
          position: relative;
          overflow: visible;
          @include is-responsive {
            padding-top: 80px;
          }
          &::after {
            content: "";
            background: url(../tiny/icon/heading-after.svg) no-repeat;
            height: 16px;
            width: 100%;
            position: absolute;
            bottom: -30px;
            left: 0;
          }
        }
      }
    }
  }
}
